<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Fireasy Zero</title>
    <script src="~/scripts/jquery-1.12.4.js"></script>
    <script src="~/scripts/jquery.easyui-1.4.3.js"></script>
    <script src="~/scripts/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/scripts/jquery.easyui.extend.js"></script>
    <script src="~/scripts/lhgdialog.js"></script>
    <script src="~/scripts/common.js"></script>
    <link href="~/content/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/content/skins/flat.css" rel="stylesheet" />
    <link href="~/content/easyui-big.css" rel="stylesheet" />
    <link href="~/content/main.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>
