.icon-add {
    background: url('themes/icons/add.png') no-repeat center center;
}

.icon-edit {
    background: url('themes/icons/edit.png') no-repeat center center;
}

.icon-clear {
    background: url('themes/icons/clear.png') no-repeat center center;
}

.icon-delete {
    background: url('themes/icons/delete.png') no-repeat center center;
}

.icon-save {
    background: url('themes/icons/save.png') no-repeat center center;
}

.icon-save_new {
    background: url('themes/icons/save_new.png') no-repeat center center;
}

.icon-select {
    background: url('themes/icons/select.png') no-repeat center center;
}

.icon-cut {
    background: url('themes/icons/cut.png') no-repeat center center;
}

.icon-ok {
    background: url('themes/icons/ok.png') no-repeat center center;
}

.icon-no {
    background: url('themes/icons/no.png') no-repeat center center;
}

.icon-cancel {
    background: url('themes/icons/cancel.png') no-repeat center center;
}

.icon-close {
    background: url('themes/icons/close.png') no-repeat center center;
}

.icon-reload {
    background: url('themes/icons/reload.png') no-repeat center center;
}

.icon-search {
    background: url('themes/icons/search.png') no-repeat center center;
}

.icon-query {
    background: url('themes/icons/search.png') no-repeat center center;
}

.icon-disable {
    background: url('themes/icons/stop.png') no-repeat center center;
}

.icon-enable {
    background: url('themes/icons/start.png') no-repeat center center;
}

.icon-print {
    background: url('themes/icons/print.png') no-repeat center center;
}

.icon-import {
    background: url('themes/icons/import.png') no-repeat center center;
}

.icon-export {
    background: url('themes/icons/export.png') no-repeat center center;
}

.icon-help {
    background: url('themes/icons/help.png') no-repeat center center;
}

.icon-undo {
    background: url('themes/icons/undo.png') no-repeat center center;
}

.icon-redo {
    background: url('themes/icons/redo.png') no-repeat center center;
}

.icon-back {
    background: url('themes/icons/back.png') no-repeat center center;
}

.icon-sum {
    background: url('themes/icons/sum.png') no-repeat center center;
}

.icon-tip {
    background: url('themes/icons/tip.png') no-repeat center center;
}

.icon-filter {
    background: url('themes/icons/filter.png') no-repeat center center;
}

.icon-man {
    background: url('themes/icons/man.png') no-repeat center center;
}

.icon-lock {
    background: url('themes/icons/lock.png') no-repeat center center;
}

.icon-more {
    background: url('themes/icons/more.png') no-repeat center center;
}

.icon-prev {
    background: url('themes/icons/prev.png') no-repeat center center;
}

.icon-next {
    background: url('themes/icons/next.png') no-repeat center center;
}

.icon-up {
    background: url('themes/icons/up.png') no-repeat center center;
}

.icon-down {
    background: url('themes/icons/down.png') no-repeat center center;
}

.icon-auth {
    background: url('themes/icons/auth.png') no-repeat center center;
}

.icon-pwd {
    background: url('themes/icons/pwd.png') no-repeat center center;
}

.icon-upload {
    background: url('themes/icons/upload.png') no-repeat center center;
}

.icon-setting {
    background: url('themes/icons/setting.png') no-repeat center center;
}

.icon-config {
    background: url('themes/icons/config.png') no-repeat center center;
}
