<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" 
      internalLogFile="c:\temp\nlog-internal.log">
  <variable name="myvar" value="myvalue"/>
  <targets>
    <target xsi:type="File" name="simpleDemoFile" fileName="Logs/SimpleDemo.txt" layout="${message}" encoding="UTF-8"/>
    <target xsi:type="Console" name="console" layout="时间:${longdate} 级别:${level} 消息:${message}" />
  </targets>
  <rules>
    <logger writeTo="simpleDemoFile"/>
  </rules>
</nlog>