<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="fireasy">
      <section name="dataInstances" type="Fireasy.Data.Configuration.InstanceConfigurationSectionHandler, Fireasy.Data" />
      <section name="dataConverters" type="Fireasy.Data.Converter.Configuration.ConverterConfigurationSectionHandler, Fireasy.Data" />
      <section name="containers" type="Fireasy.Common.Ioc.Configuration.ContainerConfigurationSectionHandler, Fireasy.Common" />
      <section name="cachings" type="Fireasy.Common.Caching.Configuration.CachingConfigurationSectionHandler, Fireasy.Common" />
      <section name="loggings" type="Fireasy.Common.Logging.Configuration.LoggingConfigurationSectionHandler, Fireasy.Common" />
      <section name="dataTranslator" type="Fireasy.Data.Entity.Linq.Translators.Configuration.TranslatorConfigurationSectionHandler, Fireasy.Data.Entity" />
      <sectionGroup name="mvc">
        <section name="bundles" type="Fireasy.Web.Mvc.Configuration.BundleGroupConfigurationSectionHandler, Fireasy.Web.Mvc" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="defaultPwd" value="123456" />
  </appSettings>
  <fireasy>
    <!-- 数据库实例配置 -->
    <dataInstances default="mysql">
      <instance name="sqlite" providerType="SQLite" connectionString="Data source=|datadirectory|../database/zero.db3;Pooling=True;tracking=true" />
      <instance name="mysql" providerType="MySql" connectionString="Data Source=localhost;database=zero;User Id=root;password=faib;pooling=true;charset=utf8;Treat Tiny As Boolean=false;tracking=true" />
      <instance name="sqlserver" providerType="MsSql" connectionString="data source=.;user id=sa;password=123;initial catalog=zero;tracking=true" />
      <instance name="oracle" providerType="Oracle" connectionString="Data Source=orcl;User ID=ZERO;Password=123;tracking=true" />
    </dataInstances>
    <!-- 数据转换器配置 -->
    <dataConverters>
      <converter sourceType="Fireasy.Data.CodedData, Fireasy.Data" converterType="Fireasy.Zero.Infrastructure.CodedDataConverter, Fireasy.Zero.Infrastructure">
      </converter>
    </dataConverters>
    <!-- Linq翻译器 -->
    <dataTranslator>
      <options dataCacheEnabled="false"></options>
    </dataTranslator>
    <!-- IOC 容器配置 -->
    <containers>
      <container>
        <registration assembly="Fireasy.Zero.Services" />
        <registration assembly="Fireasy.Zero.Infrastructure" />
      </container>
    </containers>
    <!-- 缓存管理器 -->
    <cachings>
      <caching type="Fireasy.Redis.CacheManager, Fireasy.Redis">
        <config defaultDb="2">
          <host server="localhost"></host>
        </config>
      </caching>
    </cachings>
    <!-- 日志管理器 -->
    <loggings>
    </loggings>
    <mvc>
      <!-- 配置bundle组 -->
      <bundles enableOptimization="false">
        <bundle name="base">
          <script>~/scripts/jquery-1.12.4.min.js</script>
          <script>~/scripts/jquery.easyui-1.4.3.min.js</script>
          <script>~/scripts/locale/easyui-lang-zh_CN.js</script>
          <script>~/scripts/jquery.easyui.patch.js</script>
          <script>~/scripts/jquery.easyui.extend.js</script>
          <script>~/scripts/lhgdialog.js</script>
          <script>~/scripts/common.js</script>
          <style>~/content/themes/bootstrap/easyui.css</style>
          <style>~/content/skins/flat.css</style>
          <style>~/content/main.css</style>
          <style>~/content/easyui-big.css</style>
          <style>~/content/easyui-icon.css</style>
          <style>~/content/font-awesome.min.css</style>
          <style>~/content/png-icons.css</style>
          <script>~/scripts/jquery.unobtrusive-ajax.js</script>
        </bundle>
        <bundle name="verifycode">
          <script>~/scripts/jquery.verifycode.min.js</script>
        </bundle>
        <bundle name="upload">
          <script>~/scripts/jquery.uploader.min.js</script>
        </bundle>
        <bundle name="chart">
          <script>~/scripts/highcharts.js</script>
          <script>~/scripts/highcharts-exporting.js</script>
          <script>~/scripts/highcharts-more.js</script>
        </bundle>
        <bundle name="bootstrap">
          <style>~/content/bootstrap.min.css</style>
        </bundle>
        <bundle name="font">
          <style>~/content/font-awesome.min.css</style>
        </bundle>
        <bundle name="fancybox">
          <script>~/scripts/jquery.fancybox.js</script>
          <script>~/scripts/jquery.fancybox.pack.js</script>
          <style>~/content/jquery.fancybox.css</style>
        </bundle>
        <bundle name="dim">
          <script>~/scripts/dim.form.js</script>
        </bundle>
      </bundles>
    </mvc>
  </fireasy>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login"></forms>
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
