<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Fireasy Zero</title>
    @Fireasy.Web.Mvc.BundleManager.Render("base")
</head>
<body class="easyui-layout">
    <form id="form1">
        @RenderBody()
    </form>
</body>
</html>